In [8]:
import numpy as np
import pandas as pd
import torch
import torch.nn as nn

In [2]:
df = pd.read_csv("costsensitiveregression.csv")
df

,NotCount,YesCount,ATPM,PFD,PFG,SFD,SFG,WP,WS,AH,AN,Status,FNC
0,2,21,0.0,0.00000,0.00000,0.0,0.0000,0.000000,0.000000,0.0,0.0,0,0.000000e+00
1,23,0,0.0,0.04400,0.00000,0.0,0.0000,0.306179,0.000000,0.0,0.0,1,0.000000e+00
2,1,22,0.0,0.00000,0.00000,0.0,0.0000,0.000000,0.000000,0.0,0.0,0,0.000000e+00
3,5,18,0.0,0.00000,0.00000,0.0,0.0000,0.000000,0.000000,0.0,0.0,1,0.000000e+00
4,1,22,0.0,0.00000,0.00000,0.0,0.0000,0.000000,0.000000,0.0,0.0,0,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
147631,4,19,1.0,1.09306,4.25256,0.0,0.0000,21.946737,2.679667,0.0,0.0,0,6.092077e+05
147632,16,7,1.0,0.00000,0.00000,0.0,0.0000,0.000000,2.549239,0.0,0.0,0,6.996571e+05
147633,2,21,1.0,4.64145,5.47616,0.0,25.5783,48.283019,2.442827,0.0,0.0,0,9.658214e+05
147634,3,20,1.0,0.00000,0.40989,0.0,0.0000,0.694601,4.078739,0.0,0.0,0,1.612465e+06
147635,6,17,1.0,3.16026,4.86214,0.0,0.0000,19.958639,2.077415,0.0,0.0,0,1.703186e+06

In [4]:
df.columns

Index(['NotCount', 'YesCount', 'ATPM', 'PFD', 'PFG', 'SFD', 'SFG', 'WP', 'WS',
       'AH', 'AN', 'Status', 'FNC'],
      dtype='object')

In [6]:
X_data = df[['NotCount', 'YesCount', 'ATPM', 'PFD', 'PFG', 'SFD', 'SFG', 'WP', 'WS',
       'AH', 'AN',]]
X_data

,NotCount,YesCount,ATPM,PFD,PFG,SFD,SFG,WP,WS,AH,AN
0,2,21,0.0,0.00000,0.00000,0.0,0.0000,0.000000,0.000000,0.0,0.0
1,23,0,0.0,0.04400,0.00000,0.0,0.0000,0.306179,0.000000,0.0,0.0
2,1,22,0.0,0.00000,0.00000,0.0,0.0000,0.000000,0.000000,0.0,0.0
3,5,18,0.0,0.00000,0.00000,0.0,0.0000,0.000000,0.000000,0.0,0.0
4,1,22,0.0,0.00000,0.00000,0.0,0.0000,0.000000,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
147631,4,19,1.0,1.09306,4.25256,0.0,0.0000,21.946737,2.679667,0.0,0.0
147632,16,7,1.0,0.00000,0.00000,0.0,0.0000,0.000000,2.549239,0.0,0.0
147633,2,21,1.0,4.64145,5.47616,0.0,25.5783,48.283019,2.442827,0.0,0.0
147634,3,20,1.0,0.00000,0.40989,0.0,0.0000,0.694601,4.078739,0.0,0.0
147635,6,17,1.0,3.16026,4.86214,0.0,0.0000,19.958639,2.077415,0.0,0.0

In [7]:
Y_data = df[['Status']]
Y_data

        Status
0            0
1            1
2            0
3            1
4            0
...        ...
147631       0
147632       0
147633       0
147634       0
147635       0

[147636 rows x 1 columns]

In [9]:
class CostSensitiveRegression(nn.Module):

    def __init__(self , input_dim , output_dim , epochs):
        self.input_dim = input_dim
        self.output_dim = output_dim
        self.epochs = epochs

    def forward

SyntaxError: invalid syntax (2466701253.py, line 8)